useDynLib(maptpx)
import(slam)
import(stats)
importFrom("grDevices", "grey")
importFrom("graphics", "axis", "hist", "image", "par", "plot",
             "points", "text")
import(SQUAREM)
import(boot)

export(stm_tfidf,
       normalizetpx,
       rdir,
       topics,
       predict.topics,
       topicVar,
       expit,
       logit)

S3method(plot,topics)
S3method(predict,topics)
S3method(summary,topics)
