useDynLib(maptpx)
import(slam)
importFrom("grDevices", "grey")
importFrom("graphics", "axis", "hist", "image", "par", "points", "text")
importFrom("stats", "pchisq", "rgamma")

export(stm_tfidf,
       normalize,
       rdir,
       topics,
       predict.topics,
       topicVar,
       expit,
       logit)

S3method(plot,topics)
S3method(predict,topics)
S3method(summary,topics)
